#mainContainer{
    margin-top: 75px;
}

.forgottenAnswerCorrectionColor{
    background-color: #ffbb33;
    color: white;
    font-weight: bold;
    width: 5px;
    text-align: center;
}

.wrongAnswerCorrectionColor{
    background-color: #ff4444;
    color: white;
    font-weight: bold;
    width: 5px;
    text-align: center;
}

.goodAnswerCorrectionColor{
    background-color: #00C851;
    color: white;
    font-weight: bold;
    width: 5px;
    text-align: center;
}