{% extends 'visitor/base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="padding-top: 5px; padding-bottom: 0px;">
        <blockquote class="blockquote text-center" style="border-left: 0px; padding-bottom: 5px;">
            <p class="mb-0" style="padding-left: 0px; padding-top: 2px; padding-bottom: 4px;">
                <i class="fa fa-angle-double-left fa-2x" style="color: #cccccc; position: relative; top:5px;"></i> {{ user.quotation.content|capitalize }} <i class="fa fa-angle-double-right fa-2x" style="color: #cccccc; position:relative; top:5px;"></i>
            </p>
            <footer class="blockquote-footer mb-3"><cite title="Source Title">{{ user.quotation.author|capitalize }}</cite></footer>
        </blockquote>
    </div>
    <div class="jumbotron">
        <p>
            Bonjour {{ user.username|capitalize }},<br><br>

            Ce site te permet de t'exercer sur 5 questions isolées balayant tout le programme de l'ECN chaque jour, pas une de plus. <br>
            C'est donc un entraînement peu chronophage mais destiné à être réalisé quotidiennement, une petite routine qui peut faire la différence sur le long terme :)
            <br><br>

            Le site venant de voir le jour, le contenu est encore à enrichir afin d'éviter les redondances dans les questions quotidiennes, aussi nous t'invitions à nous aider en <a href="{{ path('suggest_qcm') }}">nous suggérant des QCM</a>.<br>
            Ce site étant entièrement gratuit, la participation de chaque membre à l'enrichissement de son contenu est la bienvenue !<br>
            De plus, créer un QCM est un bon exercice d'apprentissage, n'hésite pas à le partager !<br><br>

            Notre site est en plein développement, d'autres fonctionalités sont encore à venir :<br>
            - Faire remonter une erreur sur un QCM<br>
            - Formulaire de contact<br>
            - Visualiser le profil d'autres utilisateurs<br>
            ...<br><br>

            Bonne révisions :)
        </p>
    </div>
{% endblock %}
