{% extends 'visitor/base.html.twig' %}

{% block nav_items %}
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('homepage') }}">Accueil
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('qcm_ranked_home') }}">QCM classés
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Entraînement</a>
        </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nom d'utilisateur</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mon profil</a>
                <a class="dropdown-item" href="#">Classement</a>
                <a class="dropdown-item" href="#">Déconnexion</a>
            </div>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1 class="main-title text-center"> QCM classés </h1>
    <hr class="my-2">
    <p class="section-description">Effectuez tous les jours vos QCM classés pour gagner des points et progresser dans le classement !</p>
    <p class="text-center">
        <a href="{{ path('qcm_ranked_play') }}" class="btn btn-amber btn-rounded btn-lg">Lancer un QCM classé</a>
    </p>

{% endblock %}
